<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Details</title>
</head>
<body>
    <h1>Order Details</h1>

    <form method="POST" th:action="@{/details}">
        <label>Type an order id</label>
        <input type = "number" name="orderId">
        </input>
        <button type = "submit">Submit</button>
    </form>
    <div th:if="${orderDetails != null}">
        <p><strong>Order ID:</strong> <span th:text="${orderDetails.orderId}"></span></p>
        <p><strong>Order Date:</strong> <span th:text="${#dates.format(orderDetails.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
        <p><strong>Customer ID:</strong> <span th:text="${orderDetails.customerid}"></span></p>
        <p><strong>Total Final Price:</strong> <span th:text="${orderDetails.totalFinalPrice}"></span></p>
        <p><strong>Total Cost Price:</strong> <span th:text="${orderDetails.totalCostPrice}"></span></p>
    </div>

    <div th:if="${errorMessage} ">
        <h2>Error encountered</h2>
        <p th:text="${errorMessage}"></p>
    </div>
   

</body>
</html>
