<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:if="${errorMessages != null}">
        <ul>
            <li th:each="error : ${errorMessages}" th:text="${error}"></li>
        </ul>
    </div>
    <form th:method="GET" th:action="@{/search}">
        <label>Country</label>
        <select name="country">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>

        </select>
        <br>

        <label>Number of persons:(1-10)</label>
        <input name = "accommodates" type="number" min="1" max="10" required></input>
        <br>
        <label>Price:(1-10000)</label>
        <input name = "price" type="number" min="1" max="10000" required></input>
        <br>
        <button type="submit" value="submit">submit</button>


    </form>
    
</body>
</html>